<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <TargetFramework>net8.0</TargetFramework>
    <PublishProtocol>FileSystem</PublishProtocol>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <UseAppHost>false</UseAppHost>
    <DebugType>None</DebugType>
    <DebugSymbols>false</DebugSymbols>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <PublishDir>artifacts\PsychDashboard-dotnet8\</PublishDir>
  </PropertyGroup>
</Project>
